body {
  display: block;
  width: 1024px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(20, 20, 20, 0.84);
  font-size: 20px;
  line-height: 1.4;
}

header {
  display: block;
}

main {
  display: block;
}
